<!DOCTYPE html>
<html lang = "ko">
<Head>
<title>About My Dog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

<strong>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}">
</strong>

</Head>

<body>
  <Header>
      <div class="logo">
        <a href="{{url_for('home')}}"><img src="{{url_for('static',filename='img/logo.png')}}" height="120px" title="Home" /></a>
      </div>
      <div class="search">
                <form action='/search' method='POST'>
            <span class="input-group-btn pull-right">
                      <input type="text" name="searchBar" class="form-control" placeholder="Search" size="90" >
            <button class="btn btn-danger" type="submit" id="mySearch" onclick="location.href='#'"  style="height:40px; width:60px;">검색</button>
            </span>
                </form>
                 </div>

                 {% if username%} <!-- 로그인 상태 -->
                <div class="logout" style="float:right;padding-top:20px;">
                  <form action ="/logout/" style="float:right;display:inline;">
                    <button type="submit" id="Logout">Logout</button>
                  </form>
                  {{username}} 님 환영합니다.
                </div>
                {% else %}
                <div class="login">
              <form action ="/login/" style="display:inline;">
                <button type="submit" id="Login">Login</button>
              </form>
              <form action ="/signup/" style="display:inline;">
                <button type="submit" id="SignUp">SignUp</button>
              </form>
              </div>
                  {% endif %}
                <div class = "menu">
                <strong>
                    <ul>
                      <li><a href="{{url_for('bestproduct')}}">베스트상품</a></li>
                      <li><a href="{{url_for('search')}}">애완용품</a></li>
                      <li><a href="{{url_for('community')}}">COMMUNITY</a></li>
                     {% if username == "admin" %}
                      <li><a href="{{url_for('admin')}}">ADMIN PAGE</a></li>
                      {% else %}
                      <li><a href="{{url_for('mypage')}}">MY PAGE</a></li>
                      {% endif %}
                    </ul>
                  </strong>
             </div>

  </Header>

  <nav id="page-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <font color="white">Community</font>
      </li>
    </ul>
  </nav>

  <section border="1">
	<div class="list"  >
	<p>
	<h5 align="left">▶ COMMNUNITY</h5>
	<p align="left">회원분들간에 정보를 공유하는 게시판입니다. 공유하고 싶은 내용을 자유롭게 작성해 주세요.
	<hr/>
	<div class="container"></div> <!--container-fluid-->
	<table class="table table-striped table-hover table-condensed" style="table-layout:fixed">
	<thead>
	<tr class="text-center">
		<th>번호</th>
		<th>제목</th>
		<th>작성자</th>
		<th>날짜</th>
		<th>조회수</th>
	</thead>
	<tbody>
	<div>
	{% for row in data %}
      	<tr>
         <td>{{ row[0] }}</td>
         <td><a href="{{url_for('readBoard',number = row[0])}}">{{ row[1] }}</a></td>
         <td>{{ row[3] }}</td>
         <td>{{ row[4] }}</td>
         <td>{{ row[5] }}</td>
      	</tr>
	{% endfor %}
	</div>
	</tbody>
	</table>
	<hr/>
	</div>
	</div>
        <form action="{{url_for('writeBoard')}}">
          <button class="btn btn-danger btn-sm pull-right" id="writer">
            글쓰기
        </button></form>
	</section>
</body>

</html>
