<!DOCTYPE html>
<html lang="ko">
<Head>
<title>About My Dog</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<strong>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</strong>

</Head>

<body>
	<Header>
		<div class="logo">
			<a href="{{url_for('home')}}"><img src="{{url_for('static',filename='img/logo.png')}}" height="120px" title="Home" /></a>
		</div>
		<div class="search">
			<form action='/search' method='POST'>
				<div style="width: 90%;">
					<div style="width: 85%; float: left; vertical-align: middle;">
						<input type="text" name="searchBar" class="form-control" placeholder="Search" size="90">
					</div>
					<div style="width: 10%; float: left; margin-left: 10px;">
						<button class="btn btn-danger btn-md pull-right" type="submit" id="mySearch" onclick="location.href='#'">검색</button>
					</div>
				</div>
			</form>
		</div>

		{% if username%}
		<!-- 로그인 상태 -->
		<div class="logout"
			style="float: right; padding-top: 20px; color: white">
			<form action="/logout/" style="float: right; display: inline;">
				<button style="color: #002266; margin-left: 20px;" type="submit" id="Logout">Logout</button>
			</form>
			<font size="3"> {{username}} 님 환영합니다. </font>
		</div>
		{% else %}
		<div class="login">
			<form action="/login/" style="display: inline;">
				<button type="submit" id="Login">Login</button>
			</form>
			<form action="/signup/" style="display: inline;">
				<button type="submit" id="SignUp">SignUp</button>
			</form>
		</div>
		{% endif %}
		<div class="menu">
			<strong>
				<ul>
					<li><a href="{{url_for('bestproduct')}}">베스트상품</a></li>
					<li><a href="{{url_for('search')}}">애완용품</a></li>
					<li><a href="{{url_for('community')}}">COMMUNITY</a></li> 
					{% if username == "admin" %}
					<li><a href="{{url_for('admin')}}">ADMIN PAGE</a></li> 
					{% else %}
					<li><a href="{{url_for('mypage')}}">MY PAGE</a></li> 
					{% endif %}
				</ul>
			</strong>
		</div>

	</Header>

	<nav id="page-wrapper">
		<ul class="sidebar-nav">
		    	<li class="sidebar-brand"><font color="#4C4C4C">Community</font></li>
		</ul>
	</nav>

	<section border="1">
		<div class="list">
			<p>
			<h5 align="left">▶ COMMNUNITY</h5>
			<p align="left">회원분들간에 정보를 공유하는 게시판입니다. 공유하고 싶은 내용을 자유롭게 작성해 주세요.
			
			<hr />
		<div class="container"></div>
			<!--container-fluid-->
			<table class="table" style="table-layout: fixed;">
				<thead style="background-color: rgba(0, 34, 102, 0.7); color: white;">
					<tr class="text-center" style="text-align: center;">
						<th width=“150px" style="text-align: center;">제목</th>
						<th width=“80px" style="text-align: center;">작성자</th>
						<th width=“100px" style="text-align: center;">날짜</th>
						<th width=“50px" style="text-align: center;">조회수</th>
				</thead>
				<tbody>
					<div>
						{% for row in data %}
						<tr>
							<td><a href="{{url_for('readBoard',number = row[0])}}">{{ row[1] }}</a></td>
							<td>{{ row[3] }}</td>
							<td>{{ row[4] }}</td>
							<td>{{ row[5] }}</td>
						</tr>
						{% endfor %}
					</div>
				</tbody>
			</table>
			<hr />
		</div>
		</div>
		<form action="{{url_for('writeBoard')}}">
			<button class="btn btn-danger" id="writer">글쓰기</button>
		</form>
		<ul class="pagination">
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
		</ul>
	</section>
</body>

</html>
