<!DOCTYPE html>
<html lang="ko">
<Head>
<title>About My Dog</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<strong>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</strong>

</Head>

<body>
	<Header>
		<div class="logo">
			<a href="{{url_for('home')}}"><img src="{{url_for('static',filename='img/logo.png')}}" height="120px" title="Home" /></a>
		</div>
		<div class="search">
			<form action='/search' method='POST'>
				<div style="width: 90%;">
					<div style="width: 85%; float: left; vertical-align: middle;">
						<input type="text" name="searchBar" class="form-control" placeholder="Search" size="90">
					</div>
					<div style="width: 10%; float: left; margin-left: 10px;">
						<button class="btn btn-danger btn-md pull-right" type="submit" id="mySearch" onclick="location.href='#'">검색</button>
					</div>
				</div>
			</form>
		</div>
		{% if username%}
		<!-- 로그인 상태 -->
		<div class="logout"
			style="float: right; padding-top: 20px; color: white">
			<form action="/logout/" style="float: right; display: inline;">
				<button style="color: #002266; margin-left: 20px;" type="submit" id="Logout">Logout</button>
			</form>
			<font size="3"> {{username}} 님 환영합니다. </font>
		</div>
		{% else %}
		<div class="login">
			<form action="/login/" style="display: inline;">
				<button type="submit" id="Login">Login</button>
			</form>
			<form action="/signup/" style="display: inline;">
				<button type="submit" id="SignUp">SignUp</button>
			</form>
		</div>
		{% endif %}
		<div class="menu">
			<strong>
				<ul>
					<li><a href="{{url_for('bestproduct')}}">베스트상품</a></li>
					<li><a href="{{url_for('search')}}">애완용품</a></li>
					<li><a href="{{url_for('community')}}">COMMUNITY</a></li> 
					{% if username == "admin" %}
					<li><a href="{{url_for('admin')}}">ADMIN PAGE</a></li> 
					{% else %}
					<li><a href="{{url_for('mypage')}}">MY PAGE</a></li> 
					{% endif %}
				</ul>
			</strong>
		</div>

	</Header>
	<!-- 사이드바 -->
	<nav id="page-wrapper">
		<ul class="sidebar-nav">
		    	<li class="sidebar-brand"><font color="#4C4C4C">Category</font></li>
			<li><a href="{{url_for('category',number='1')}}">옷</a></li>
			<li><a href="{{url_for('category',number='2')}}">사료</a></li>
			<li><a href="{{url_for('category',number='3')}}">간식</a></li>
			<li><a href="{{url_for('category',number='4')}}">장난감</a></li>
			<li><a href="{{url_for('category',number='5')}}">목욕용품</a></li>

		</ul>
	</nav>
	<!-- /사이드바 -->

	<section>
		<div class="writer">
			<p>
			<h5>▶ 상품 상세 정보</h5>
			<hr />
			<p>
			<div class="container">
				<div class="table-responsive">
					<table class="table table-bordered table-condensed">
						{% for row in data %}
						<tbody>
							<tr>
								<th>상품 이미지</th>
								<td align="left"><img src="/static/img/{{row[0]}}.jpg" height="120px" width="120px" /></td>
							<tr>
								<th>상품번호</th>
								<td><input type="text" class="form-control" value="{{row[0]}}" readonly /></td>
							</tr>
							<tr>
								<th>상품명</th>
								<td><input type="text" class="form-control" value="{{row[1]}}" readonly /></td>
							</tr>
							<tr>
								<th>카테고리</th> 
								{% if row[0] % 10000 == 1 %}
								<td><input type="text" class="form-control" value="옷" readonly /></td> 
								{% elif row[0] % 10000 == 2 %}
								<td><input type="text" class="form-control" value="사료" readonly /></td> 
								{% elif row[0] % 10000 == 3 %}
								<td><input type="text" class="form-control" value="간식" readonly /></td> 
								{% elif row[0] % 10000 == 4 %}
								<td><input type="text" class="form-control" value="장난감" readonly /></td> 
								{% elif row[0] % 10000 == 5 %}
								<td><input type="text" class="form-control" value="목욕용품" readonly /></td> 
								{% else %}
								<td><input type="text" class="form-control" value="기타" readonly /></td> 
								{% endif %}
							</tr>
							</td>
							</tr>
							<tr>
								<th>가격</th>
								<td><input type="text" class="form-control" value="{{row[2]}}원" readonly /></td>
							</tr>

							<tr>
								<th>재고</th>
								<td><input type="text" class="form-control" value="{{row[4]}}개" readonly /></td>
							</tr>
							<tr>
								<th>상세설명</th>
								<td><textarea cols="30" rows="3" value="{{row[3]}}" class="form-control" readonly></textarea></td>
							</tr>

							<tr>
								<td style="border: 0px" solid=white; align="right">
									<!-- 여기 부분 구현 -->
									<form action="{{url_for('order')}}">
										<td style="border: 0px" solid=white; align="right"><button class="btn btn-sm pull-right" type="submit" name="button" value="order">구매</button>
											</span>
											<button class="btn btn-sm pull-right" id="writer" type="submit" name="button" value="cancel">취소</button>
											</span>
										</td>
								</td>
							</tr>
							</form>
						</tbody>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</section>
</body>

</html>
