<!DOCTYPE html>
<html>
<Head>
<title>
{% if username %} 
About My Dog - Hello, {{username}} 
{% else %} About My Dog - Not Logged 
{% endif %}
</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<strong>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</strong>

</Head>

<body>
	<Header>
		<div class="logo">
			<a href="{{url_for('home')}}"><img src="{{url_for('static',filename='img/logo.png')}}" height="120px" title="Home" /></a>
		</div>
		<div class="search">
			<form action='/search' method='POST'>
				<div style="width: 90%;">
					<div style="width: 85%; float: left; vertical-align: middle;">
						<input type="text" name="searchBar" class="form-control" placeholder="Search" size="90">
					</div>
					<div style="width: 10%; float: left; margin-left: 10px;">
						<button class="btn btn-danger btn-md pull-right" type="submit" id="mySearch" onclick="location.href='#'">검색</button>
					</div>
				</div>
			</form>
		</div>
		{% if username%}
		<!-- 로그인 상태 -->
		<div class="logout"
			style="float: right; padding-top: 20px; color: white">
			<form action="/logout/" style="float: right; display: inline;">
				<button style="color: #002266; margin-left: 20px;" type="submit" id="Logout">Logout</button>
			</form>
			<font size="3"> {{username}} 님 환영합니다. </font>
		</div>
		{% else %}
		<div class="login">
			<form action="/login/" style="display: inline;">
				<button type="submit" id="Login">Login</button>
			</form>
			<form action="/signup/" style="display: inline;">
				<button type="submit" id="SignUp">SignUp</button>
			</form>
		</div>
		{% endif %}
		<div class="menu">
			<strong>
				<ul>
					<li><a href="{{url_for('bestproduct')}}">베스트상품</a></li>
					<li><a href="{{url_for('search')}}">애완용품</a></li>
					<li><a href="{{url_for('community')}}">COMMUNITY</a></li> 
					{% if username == "admin" %}
					<li><a href="{{url_for('admin')}}">ADMIN PAGE</a></li> 
					{% else %}
					<li><a href="{{url_for('mypage')}}">MY PAGE</a></li> 
					{% endif %}
				</ul>
			</strong>
		</div>
	</header>
	{% block content%} {% endblock %}
</body>
</html>
