<!DOCTYPE html>
<html lang = "ko">
<Head>
<title>About My Dog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	-->
<strong>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}">
</strong>

</Head>

<body>
  <Header>
      <div class="logo">
        <a href="{{url_for('home')}}"><img src="{{url_for('static',filename='img/logo.png')}}" height="120px" title="Home" /></a>
      </div>
      <div class="search">
                <form action='/search' method='POST'>
            <span class="input-group-btn pull-right">
                      <input type="text" name="searchBar" class="form-control" placeholder="Search" size="90" >
            <button class="btn btn-danger" type="submit" id="mySearch" onclick="location.href='#'"  style="height:40px; width:60px;">검색</button>
            </span>
                </form>
                 </div>
                 {% if username%} <!-- 로그인 상태 -->
                <div class="logout" style="float:right;padding-top:20px;">
                  <form action ="/logout/" style="float:right;display:inline;">
                    <button type="submit" id="Logout">Logout</button>
                  </form>
                  {{username}} 님 환영합니다.
                </div>
                {% else %}
                <div class="login">
              <form action ="/login/" style="display:inline;">
                <button type="submit" id="Login">Login</button>
              </form>
              <form action ="/signup/" style="display:inline;">
                <button type="submit" id="SignUp">SignUp</button>
              </form>
              </div>
                  {% endif %}
                <div class = "menu">
                <strong>
                    <ul>
                      <li><a href="{{url_for('bestproduct')}}">베스트상품</a></li>
                      <li><a href="{{url_for('search')}}">애완용품</a></li>
                      <li><a href="{{url_for('community')}}">COMMUNITY</a></li>
                     {% if username == "admin" %}
                      <li><a href="{{url_for('admin')}}">ADMIN PAGE</a></li>
                      {% else %}
                      <li><a href="{{url_for('mypage')}}">MY PAGE</a></li>
                      {% endif %}
                    </ul>
                  </strong>
             </div>

  </Header>


  <div id="page-wrapper">
  <!-- 사이드바 -->
  <nav id="page-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <font color="white">Admin</font>
      </li>
      <li><a href="{{url_for('adminitem')}}">상품관리</a></li>
      <li><a href="{{url_for('adminmember')}}">회원관리</a></li>
      <li><a href="{{url_for('adminboard')}}">게시판관리</a></li>
    </ul>
  </nav>
  <!-- /사이드바 -->
	<section border="1">
	<div class="list"  >
	<p>
	<h5 align="left">▶ 주문 상세 정보</h5>
	<p align="left">
	<div class="container"></div> <!--container-fluid-->
	<table class="table table-striped table-hover table-condensed" style="table-layout:fixed">
	<thead>
	<tr class="text-center">
		<th>주문번호</th>
		<th>항목</th>
    <th>개수</th>
		<th>금액</th>
		<th>배송상태</th>
    <th></th>
	</thead>
	<tbody>
    {% if data != NULL %}
    {%for row in data %}
    <form action = "{{url_for('updateOrder')}}">
  <tr>
		<td><input type="hidden" name = "number" value="{{row[0]}}" /> {{row[0]}}</td>
		<td>{{row[1]}}</th>
		<th>{{row[9]}}</th>
		<th>{{row[5]}}</th>
		<th><input type ="text" name = "state" value="{{row[8]}}" size="10" style="text-align:center;"/></th>
    <th><button align ="left" type = "submit" class="btn btn-danger btn-sm pull-right" id="writer">변경사항 저장</button></th>
  </tr>
</form>
  {% endfor %}
  {% else %}
  주문내역이 존재하지않습니다.
  {% endif %}
	</tbody>
	</table>
	<hr/>
	<p>

	</div>
	</section>
</body>

</html>
