<!DOCTYPE html>
<html lang = "ko">
<Head>

<title>About My Dog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

<strong>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}">
</strong>

</Head>

<body>
  <Header>
      <div class="logo">
        <img src="{{url_for('static',filename='img/logo.png')}}" height="120px" title="Home" />
      </div>
      <div class="search">
          <input type="text" id="searchBar" class="form-control" placeholder="Search">
          <button type="submit" id="mySearch" onclick="location.href='#'">검색</button>
      </div>
      <div class="login">
        <button type="button" id="Login" onclick="location.href='#'">Login</button>
        <button type="button" id="SignUp" onclick="location.href='#'">SignUp</button>
      </div>
      <div class = "menu">
      <strong>
          <ul>
            <li><a href="#">베스트상품</a></li>
            <li><a href="#">애완용품</a></li>
            <li><a href="{{url_for('community')}}">COMMUNITY</a></li>
            <li><a href="#">MY PAGE</a></li>
          </ul>
        </strong>
   </div>

  </Header>

  <nav>

  Side Menu
  <!--
	<ul>
	    <li><a href="#">Product</a></li>
    </ul>
	-->
  </nav>

  <section>
	<div class="writer">
	<p>
	<h5>▶ COMMNUNITY</h5>
	공유하고 싶은 내용을 자유롭게 작성해 주세요.
	<hr/>
	<p>
	<div class="container">
	<div class="table-responsive">
	<table class="table table-bordered table-condensed">

    	<tbody>
            <tr>
                <th>제목: </th>
                <td><input type="text" placeholder="제목을 입력하세요. " name="subject" class="form-control"/></td>
            </tr>
            <tr>
                <th >내용: </th>
                <td><textarea cols="50" rows="10" placeholder="내용을 입력하세요. " name="content" class="form-control"></textarea></td>
            </tr>
            <tr>
                <th>첨부파일: </th>
		<td align="left">
    		<label for="exampleInputFile"></label>
   		<input type="file" id="exampleInputFile">
		</td >
            </tr>
            <tr>
                <th>비밀번호: </th>
                <td align="left"><input type="password" placeholder="4~10자" name="password" class="input-sm"/></td>
		</td >
            </tr>

	    <tr>
                <td style="border:0px" solid=white; align="right">
                   <span class="input-group-btn pull-right"><button class="btn btn-sm pull-right" onclick="location.href='community.html#'" type="button">글목록</button></td>
		<td style="border:0px" solid=white; align="right"><button class="btn btn-sm pull-right" onclick="location.href='#'" type="button">등록</button></span>
		 	<button class="btn btn-sm pull-right" id="writer" onclick="location.href='community.html#'">취소</button> </span>
                </td>
            </tr>
    </tbody>
</table>
</div>
</div>
</div>
  </section>


  <footer>
      About My Dog
  </footer>
</body>

</html>
