<!DOCTYPE html>
<html lang="ko">
<Head>

<title>About My Dog</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<strong>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</strong>

</Head>

<body>
	<Header>
		<div class="logo">
			<a href="{{url_for('home')}}"><img src="{{url_for('static',filename='img/logo.png')}}" height="120px" title="Home" /></a>
		</div>
		<div class="search">
			<form action='/search' method='POST'>
				<div style="width: 90%;">
					<div style="width: 85%; float: left; vertical-align: middle;">
						<input type="text" name="searchBar" class="form-control" placeholder="Search" size="90">
					</div>
					<div style="width: 10%; float: left; margin-left: 10px;">
						<button class="btn btn-danger btn-md pull-right" type="submit" id="mySearch" onclick="location.href='#'">검색</button>
					</div>
				</div>
			</form>
		</div>
		{% if username%}
		<!-- 로그인 상태 -->
		<div class="logout"
			style="float: right; padding-top: 20px; color: white">
			<form action="/logout/" style="float: right; display: inline;">
				<button style="color: #002266; margin-left: 20px;" type="submit" id="Logout">Logout</button>
			</form>
			<font size="3"> {{username}} 님 환영합니다. </font>
		</div>
		{% else %}
		<div class="login">
			<form action="/login/" style="display: inline;">
				<button type="submit" id="Login">Login</button>
			</form>
			<form action="/signup/" style="display: inline;">
				<button type="submit" id="SignUp">SignUp</button>
			</form>
		</div>
		{% endif %}
		<div class="menu">
			<strong>
				<ul>
					<li><a href="{{url_for('bestproduct')}}">베스트상품</a></li>
					<li><a href="{{url_for('search')}}">애완용품</a></li>
					<li><a href="{{url_for('community')}}">COMMUNITY</a></li> 
					{% if username == "admin" %}
					<li><a href="{{url_for('admin')}}">ADMIN PAGE</a></li> 
					{% else %}
					<li><a href="{{url_for('mypage')}}">MY PAGE</a></li> 
					{% endif %}
				</ul>
			</strong>
		</div>
	</Header>


	<nav id="page-wrapper">
		<ul class="sidebar-nav">
		    	<li class="sidebar-brand"><font color="#4C4C4C">Community</font></li>
		</ul>
	</nav>


	<section>
		<div class="writer">
			<p>
			<h5>▶ COMMNUNITY</h5>
			공유하고 싶은 내용을 자유롭게 작성해 주세요.
			<hr />
			<p>
			<div class="container">
				<div class="table-responsive">
					<table class="table table-bordered table-condensed">
						<tbody>
							<form action="{{url_for('writeDB')}}">
								<tr>
									<th>제목:</th>
									<td><input type="text" placeholder="제목을 입력하세요. " name="subject" class="form-control" /></td>
								</tr>
								<tr>
									<th>내용:</th>
									<td><textarea cols="50" rows="10" placeholder="내용을 입력하세요. " name="content" class="form-control"></textarea></td>
								</tr>
								<tr>
									<th>비밀번호:</th>
									<td align="left"><input type="password" placeholder="4~10자" name="password" class="input-sm" /></td>
									</td>
								</tr>

								<tr>
									<td style="border: 0px" solid=white; align="right">
									<span class="input-group-btn pull-right">
										<button class="btn btn-sm pull-right" name="button" value="list">글목록</button>
									</td>
									<td style="border: 0px" solid=white; align="right">
										<button class="btn btn-sm pull-right" name="button" value="writeOn">등록</button>
									</span>
									<button class="btn btn-sm pull-right" id="writer" name="button" value="cancel">취소</button> 
									</span>
									</td>
								</tr>
							</form>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</body>

</html>
